<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico  " type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/edit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/tinymce/jquery.tinymce.min.js"></script>
    <script src="../js/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#content',
            height: 320,
            width: 800,
            nowrap : false,
            menubar: false,
            toolbar: true
        });
      </script>
    <title>Edit</title>
</head>
<body>
    <header>
        <img src="../images/logo.png" alt="Logo" height="100" weight="100">
        <h2>Words of Wisdom</h2>
        <h3>Chase the stories</h3>
        <p>Welcome Admin!</p>
    </header>
    <!-- Add page functionality html -->
    <nav id="nav_menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <main>
        <form action="" method="POST" enctype="multipart/form-data">
            <label for="topic">Topic</label>
            <input type="text" id="topic" name="topic" value="<%= blog.topic %>"><br>
            <label for="content">Content</label>
            <input class="content" type="text" id="content" name="content" value="<%- blog.content %>"><br>
            <label for="image">Image</label>
            <input type="file" id="image" name="image" value="<%= blog.image %>"><br>
            <input type="submit" value="Submit">
        </form>
    </main>
    <%- include('layouts/footer'); -%>
</body>
</html>