<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <title>Login</title>
</head>
<body>
  <%- include('layouts/header'); -%>
    <nav id="nav_menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="login">Dashboard</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </nav>
    <!-- Login page  -->
    <main>
        <h2>Login</h2>
        <form name="form" method="POST" action="" >
            <label>Username</label>
            <input id="username"  type="text" placeholder="username" name="username"><br/>
            <label>Password</label>
            <input id="password" type="password" placeholder="password" name="password"><br/>
            <br/><br/>
            <input type="submit" value="Submit"><br>
            <p id="errors">
              <%
                if(typeof error !== 'undefined'){
                  %>
                    <%= error %>
                  <%
                }
              %>
            </p>
          </form>  
    </main>
    <%- include('layouts/footer'); -%>
</body>
</html>