* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Fredoka One', cursive;
    background-image: url(../images/background2.jpeg);
    background-size: cover;
    font-size: 100%;
	width: 100%;
	margin: 0 auto;
}

header {
	padding: 1em 0 3.5em;
}

header img {
	float: left;
	padding: 0 30px;
}

header h2 {
    font-size: 32px;
    color: white;
}

header h3 {
    color:lightskyblue;
}

main {
	clear: left;
}
header p {
    margin-right: 30px;
    float: right;
    font-size: 20px;
    color: green;
}
#nav_menu {
    display: table;
    margin: 0 auto;   
}
ul {
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
}
li{
    list-style-type: none;
    display: inline-block;
    width: auto;
    min-width: 190px;
    margin: 0 auto;
}
li a {
    text-decoration: none;
    color: lightyellow;
    background-color: coral;
    display: block;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
}

a:hover {
    background-color: orangered;
}

main h2 {
    padding: 1em;
    color: lightseagreen;
}
main p {
    text-align: justify;
    padding: 0 1em;
    font-family: 'Mukta Malar', sans-serif;
    font-weight: bold;
    color: white;
    margin-bottom: 2em;
    font-size: 16px;
    text-shadow: 2px 2px 4px black;
    text-indent: 70px;
}
section {
    float: left;
    width: 65%;
}

aside {
    float: left;
    width: 30%;
    margin-top: 5em;
    margin-left: 3em;
    /* margin: 1em; */
}

form {
    width: 800px;
    padding: 20px;
    display: table;
    margin: 20px auto;
    border: 2px solid white;
}

form label{
    color: black;
    width: 300px;
    height: 40px;
    display: inline-block;
}
form input {
    width: 300px;
    height: 40px;
    color: black;
}
form input[type="submit"]{
    background-color: cadetblue;
    display: table;
    margin: 0 auto;
}
.content {
    height: 320px;
    width: 800px;
}
footer {
    clear: both;
    /* position: absolute;
    bottom: 0; */
    background-color: brown;
    color: white;
    padding: 0.65em 0;
    width: 100%;
    text-align: center;
}