* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Fredoka One', cursive;
    background: url("../images/background.jpeg");
    background-size: cover;
    font-size: 100%;
	width: 100%;
	margin: 0 auto;
}

header {
	padding: 1em 0 3.5em;
}

header img {
	float: left;
	padding: 0 30px;
}

header h2 {
    font-size: 32px;
    color: white;
}

header h3 {
    color:lightskyblue;
}

main {
	clear: left;
}

#nav_menu {
    display: table;
    margin: 0 auto;   
}
ul {
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
}
li{
    list-style-type: none;
    display: inline-block;
    width: auto;
    min-width: 190px;
    margin: 0 auto;
}
li a {
    text-decoration: none;
    color: lightyellow;
    background-color: coral;
    display: block;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
}

a:hover {
    background-color: orangered;
}
main p {
    width: 40%;
    text-align: justify;
    text-shadow: 2px 2px 4px black;
    color: white;
    margin: 3em;
    padding: 1em;
    margin-left: 3em;
    font-family: 'Mukta Malar', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid white;
}
footer {
    background-color: #563928;
    color: white;
    padding: 0.65em 0;
    width: 100%;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 0;
}